@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #00b637;
    --secondary-color: #20c997;
    --gray: #4a4a4d;
    --bg-primary: #f0f0f0;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'poppins', sans-serif;  
}


h1,
h2{
    font-family: 'saira', sans-serif:
}

ul  {
    list-style: none;
}

a  {
    text-decoration: none;
}

/* Utility Classes */

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
}
.text-primary {
    color: rgba(0, 132, 255, 0.555);
}

.btn-primary {
    background-color: rgb(0, 126, 175);
    color: #ffffff;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #68686852;
}

/* Header Start */
header {
    background-color: var(--bg-primary);
    height: 100vh;
}
img{
    width: 45%;
    margin-top: 105px;
    margin-left: 700px;
}

header .navbar {
    background-color: #383838;
    border-bottom: 1px solid #001ea5;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header .navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    padding: 1.5rem 2rem;
}

#home #logo {
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin: auto;
    
}

header .navbar nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .navbar nav ul a {
    margin: 0 15px;
    color: white;
    font-weight: 600;
}

header .header-content {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    padding: 5rem 2rem 0;
    height: 100%;

}

header .header-content .content-text {
    margin-bottom: 5rem;
    color: #0bb2ffc9;
}


header .header-content img {
    max-width: 250px;
    margin-top: 20px;
}

#home .header-content p span {
    font-weight: 700;
    font-size: 40px;
}

#home .header-content h1 {
    font-size: 47px;
    color: white;
    text-shadow: 3px 3px 3px rgba(6, 20, 141, 0.87);
}





#home .header-content .title {
    font-size: 20px;
    color: skyblue;
    margin: 10px 0;
    font-weight: 500;
}


#home .header-content .socail {
    font-size: 18px;
    padding: 10px;
    color: rgba(135, 207, 235, 0.726);
    border-radius: 50%;
    margin-right: 10px;
}

#home .header-content .socail a i {
    font-size: 18px;
    padding: 10px;
    background-color: rgba(0, 127, 231, 0.801);
    
    color: #ffffff;
    border-radius: 50%;
    margin-right: 10px;
    transition: all 0.3s ease;
}

#home .header-content .socail a i:hover {
    transform: scale(0.85);
}

header .header-content  img {
    max-width: 450px;
}


/* Header End */

